<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rudalson.rutuber" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rutuber</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="rudalson@gmail.com" href="http://cordova.io">
        Rudalson
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <!-- 여기 아래 부터 복사 (접근허용 웹사이트 등록)-->
    <allow-navigation href = "http://*.youtube.com/*"/>
    <allow-navigation href = "https://*.youtube.com/*"/>
    <allow-navigation href = "http://*.afreecatv.com/*"/>
    <allow-navigation href = "https://*.afreecatv.com/*"/>
    <allow-navigation href = "http://*.twitch.tv/*"/>
    <allow-navigation href = "https://*.twitch.tv/*"/>
    <allow-navigation href = "http://*.facebook.com/*"/>
    <allow-navigation href = "https://*.facebook.com/*"/>
    <allow-navigation href = "http://*.instagram.com/*"/>
    <allow-navigation href = "https://*.instagram.com/*"/>
    <allow-navigation href = "http://*.twitter.com/*"/>
    <allow-navigation href = "https://*.twitter.com/*"/>
    <allow-navigation href = "http://*.tiktok.com/*"/>
    <allow-navigation href = "https://*.tiktok.com/*"/>
    <allow-navigation href = "http://toon.at/*"/>
    <allow-navigation href = "https://toon.at/*"/>
    <allow-navigation href = "http://twip.kr/*"/>
    <allow-navigation href = "https://twip.kr/*"/>
    <allow-navigation href = "http://*.daum.net/*"/>
    <allow-navigation href = "https://*.daum.net/*"/>
    <allow-navigation href = "http://*.naver.com/*"/>
    <allow-navigation href = "https://*.naver.com/*"/>
    <allow-navigation href = "https://*.*.naver.com/*"/>
    <allow-navigation href = "http://*.tistory.com/*"/>
    <allow-navigation href = "https://*.tistory.com/*"/>
    <allow-navigation href = "http://*.blog.me/*"/>
    <allow-navigation href = "https://*.blog.me/*"/>
    <allow-navigation href = "http://*.kakao.com/*"/>
    <allow-navigation href = "https://*.kakao.com/*"/>
    <!-- 여기까지 복사 -->
    <platform name="android">
        <allow-intent href="market:*" />
		<preference name="android-minSdkVersion" value="19"/> 
  		<preference name="android-targetSdkVersion" value="28"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
